<h1>Edit Profile</h1>
<div class="grid-content">

    <div class="grid-section section-1">

        <%= image_tag @profile.avatar_display(:small), class: 'round border maxmobile' %>

    </div>

    <div class="grid-section section-2">
        <%= render 'partials/profile_edit_form', profile: @profile %>

        <%= button_to 'Back', profile_path, class: 'button btn-small', method: :get %>
    </div>

</div>
