<h1>(search box here)</h1>

<% if policy(@profile).update? %>
    <a href="<%= edit_profile_path %>"><div class='button'>Edit Profile</div></a>
<% end %>

<%= image_tag @profile.avatar_display(:small), class: 'round border maxmobile' %><br/>

<h1><%= @profile.full_name %></h1>