<h1>Profile#Show</h1>

<a href="<%= edit_profile_path %>"><div class='button'>Edit</div></a>

<%= image_tag @profile.avatar_url(:small), class: 'round border fullwidth' if !@profile.avatar_data.nil? %><br/>

<h1><%= @profile.full_name %></h1>