<h1>(search box here)</h1>

<div class="event-container">

    <% if events.present? %>
        <% events.each do |event| %>
            <%= render 'partials/eventcard', event: event %>
        <% end %>
    <% end %>
    
</div>