    <div class="hero-header" id="event-hero">
        <%= image_tag event.image_display(:large), class: 'hero-image' %><br/>
        <div class="hero-text"><herofont><%= event.title %></herofont></div>
    </div>