<div class="navitem">
    <herofont>takesavillage</herofont>
</div>

<div class="navitem">
    <% if !user_signed_in? %>
        <%= link_to_unless_current 'Register', new_user_registration_path %> |&nbsp;
        <%= link_to_unless_current 'Log In', new_user_session_path %>
    <% elsif current_user.profile.id.nil? %>
        Profile Incomplete | <%= link_to_unless_current 'Log Out', destroy_user_session_path, method: :delete %>
    <% else %>   
        <%= link_to_unless_current 'Log Out', destroy_user_session_path, method: :delete %> | 
        <a href="<% profile_path %>"><img src="<% current_user.profile.avatar_url(:thumb) %>" width="50" class="round border"></a>
    <% end %>
</div>