
<div class="hero-header" id="event-hero">
    <%= image_tag "hero/#{rand(4)}.jpg", class: 'hero-image' %><br/>
    <div class="hero-text">
        <herofont>You know so many things!</herofont>
        <a href="<%= new_event_path %>"><div class='button btn-large'><herofont>Can you teach me?</herofont></div></a>
    </div>
    
</div>

<div class="half">
    <h1>(search box here)</h1>

</div>

